body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#sidebar .closemenu {
  color: rgb(209, 202, 202);
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
  top: 55px;
  cursor: pointer;
}
#sidebar .pro-sidebar {
  width: 240px;
  min-width: 100%;
  height: 100vh;
}
#sidebar .pro-sidebar.collapsed {
  width: 85px;
  min-width: 85px;
}
#sidebar .pro-sidebar-inner {
  background: #0e1025;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
.pro-sidebar > .pro-sidebar-inner > img.sidebar-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  opacity: 0.3;
  left: 0;
  top: 0;
  z-index: 100;
  filter: blur(10px);
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
  height: 100vh;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: rgba(252, 252, 252, 0.521);
  font-weight: bold;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: rgb(212, 212, 212);
  margin: 10px 0px;
  font-weight: bold;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 1;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #c0c0c0;
  color: #000;
  border-radius: 3px;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: #000;
}
#sidebar .logo {
  padding: 20px;
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  display: flex;
  padding: 15px 15px;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: WHITE;
  color: #6600ff;
  border-radius: 50%;
}
.pro-menu-item.active {
  background-color: #1f1f7a;
  border-radius: 5px;
  opacity: 1;
}
.pro-sidebar-content {
  overflow: auto;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: transparent !important;
}
@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}

/* .pro-sub-menu.open {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  opacity: 0.8;
} */

.pro-sub-menu.open > .pro-inner-item {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 1;
}

.popper-inner {
  background-color: #0e1025 !important;
}
